/* Sign In Styling */
.signup {
  position: relative;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #f9d410;
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: Abel;
}

.already-have-account {
  position: absolute;
  top: 760px;
  left: 55px;
  display: inline-block;
  width: 266px;
  height: 19px;
}

.log-in {
  font-size: 17px;
  color: darkgreen;
}


/* Login Styling */

.login {
  position: relative;
  border-radius: 15px;
  background-color: #f9d410;
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: Abel;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  justify-content: center;
}

.undraw-mobile-ux {
  position: absolute;
  top: 230px;
  left: 112px;
  width: 152px;
  height: 164px;
  overflow: hidden;
}

.login-details {
  position: absolute;
  top: 260px;
  left: 22px;
  font-size: 22px;
}

.forgot-password {
  position: absolute;
  top: 569px;
  left: 89px;
  font-size: 17px;
  color: #06480b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 34px;
}

.dont-have-account {
  position: absolute;
  top: 760px;
  left: 55px;
  display: inline-block;
  width: 266px;
  height: 19px;
}

/* DashBoard Styling */

.dashboard {
  position: relative;
  border-radius: 15px;
  background-color: whitesmoke;
  transform: translate(-50%);
  left: 50%;
  width: 375px;
  height: 812px;
  overflow: hidden;

}

.dashboard-child {
  position: absolute;
  top: 0;
  left: calc(50% - 192.5px);
  background-color: #f9d410;
  width: 380px;
  height: 217px;
}

.shipe-icon {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.camera-icon,
.photo {
  cursor: pointer;
  position: absolute;
  top: 44px;
  left: 118px;
}

.photo-child {
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 139px;
  height: 143px;
}

.photo-icon {
  position: absolute;
  top: 0;
  left: 3px;
  border-radius: 100px;
  width: 139px;
  height: 143px;
  object-fit: cover;
  flex-shrink: 0;
}

.camera-icon {
  top: 159px;
  left: 220px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}

.welcome-container {
  display: flex;
  width: 232px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  top: 186px;
  left: 74px;
  text-align: center;
}

.welcome-container1 {
  line-break: anywhere;
  width: 100%;
}

.welcome {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.user-name {
  color: rgba(0, 0, 0, 0.75);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Shared Styling */

.ellipse {
  position: absolute;
  top: -29px;
  left: 264px;
  border-radius: 50%;
  background-color: #58A856;
  width: 135px;
  height: 119px;
}

.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 70%;
  width: 7.65%;
  top: 4%;
  right: 8.87%;
  bottom: 26%;
  left: 83.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon1,
.vector-icon2 {
  height: 80%;
  width: 7.07%;
  top: 0;
  right: 17.7%;
  bottom: 20%;
  left: 75.23%;
}

.vector-icon2 {
  height: 50%;
  width: 7.65%;
  top: 24%;
  right: 0;
  bottom: 26%;
  left: 92.35%;
}

.timestamp,
.icon-system {
  position: absolute;
  top: 4%;
  left: 0;
}

.icon-system {
  height: 3.08%;
  width: 87.2%;
  top: 1.23%;
  right: 4.8%;
  bottom: 95.69%;
  left: 8%;
  text-align: left;
  font-size: 20px;
  font-family: Inter;
}

.whatsapp-image {
  position: absolute;
  top: 89px;
  left: calc(50% - 54.5px);
  width: 108px;
  height: 78px;
  object-fit: cover;
}

.information {
  position: absolute;
  top: 167px;
  left: 0;
  border-radius: 30px;
  background-color: #e51e1e;
  width: 375px;
  height: 645px;
}

.banner {
  position: absolute;
  top: 195px;
  left: 30px;
  width: 320px;
  height: 58.23px;
  text-align: center;
  font-size: large;
  text-transform: capitalize;
}

.information-security {
  position: absolute;
  top: 230px;
  left: 75px;
  font-family: Cambo;
}

.name-input {
  flex-shrink: 0;
  border: none;
  border-radius: 45px;
  background-color: #1F7C28;
  width: 320px;
  height: 58.226px;
  outline: none;
  padding-left: 30px;
}

.name-input::placeholder {
  color: #CACACA;
  font-family: Cambo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.information-box1 {
  position: absolute;
  top: 75.59px;
}

.information-box2 {
  position: absolute;
  top: 151.18px;
}

.information-boxes,
.information-box3,
.information-box4 {
  position: absolute;
  top: 226.77px;
}

.information-boxes,
.information-box4 {
  top: 297.77px;
}

.information-boxes {
  top: 296px;
  left: 25px;
  font-family: Cambo;
}

.btn {
  position: absolute;
  top: 688px;
  left: 84px;
  width: 188px;
  height: 44px;
  flex-shrink: 0;
}

.button-text {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: #1F7C28;
  width: 150px;
  height: 58.23px;
  color: #FFF;
  text-align: center;
  font-family: Abel;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}